  <div>
    <div class="col-md-6">
      <%= render 'entidades/ultimas_ofertas' %>
    </div>
    <div class="col-md-6">
      <%= render 'candidatos/ultimos_candidatos' %>
    </div>
    <!-- <div class="col-md-6">
      <h2>Notícias</h2>
    </div> -->
  </div>

  <div>
    <div class="col-md-6">
      <%= render 'entidades/ultimas_empresas' %>
    </div>
  </div>
