<div>
  <% @cu_meta_type = @cu.meta_type %>
  <% if @cu_meta_type == "Candidato" %>
    <%= render 'candidatos/meu_perfil' %>
    <% else %>
    <% if @cu_meta_type == "Entidade" %>
      <%= render 'entidades/meu_perfil' %>
    <% end %>
  <% end %>
</div>
