<h1>Novo Registo</h1>

<div class="registo">
  <div>
    <%= link_to "Sou uma entidade", new_entidade_path, class: "btn btn-default" %>
  </div>
  <div>
    <%= link_to "Sou um candidato", new_candidato_path, class: "btn btn-default"%>
  </div>
</div>
