<%= form_for(oferta_de_emprego) do |f| %>
  <% if oferta_de_emprego.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oferta_de_emprego.errors.count, "error") %> prohibited this oferta_de_emprego from being saved:</h2>

      <ul>
      <% oferta_de_emprego.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_area :descricao %>
  </div>

  <div class="picture">
    <%= f.file_field :foto, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  
  <div class="field">
    <%= f.label :actividade_profissional %>
    <%= f.text_field :actividade_profissional %>
  </div>

  <div class="field">
    <%= f.label :tipo_contrato %>
    <%= f.text_field :tipo_contrato %>
  </div>

  <div class="field">
    <%= f.label :activa %>
    <%= f.check_box :activa %>
  </div>

  <div class="field">
    <%= f.label :salario %>
    <%= f.text_field :salario %>
  </div>

  <div class="field">
    <%= f.label :validade_inicio %>
    <%= f.text_field :validade_inicio %>
  </div>

  <div class="field">
    <%= f.label :validade_fim %>
    <%= f.text_field :validade_fim %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
