<tr>
  <td style="vertical-align: top;">
    <div style = "margin-bottom: 2%">
      <%= image_tag oferta_de_emprego.foto.url if oferta_de_emprego.foto? %>
    </div>
  </td>
  <td>
    <div class="crop">
      <div><strong><%= link_to oferta_de_emprego.titulo, oferta_de_emprego_path(oferta_de_emprego.id) %></strong></div>
      <div><%= oferta_de_emprego.validade_inicio %> a <%= oferta_de_emprego.validade_fim %></div>
      <div><%= oferta_de_emprego.empresa %></div>
      <div><%= oferta_de_emprego.descricao %></div>
    </div>
  </td>
</tr>
