<p id="notice"><%= notice %></p>

<h1>Ofertas de Emprego</h1>

<div class="interessados">
  <table>
    <tbody>
      <%= render @oferta_de_empregos %>
      <%= will_paginate @oferta_de_empregos %>
    </tbody>
  </table>
  <%= will_paginate @oferta_de_empregos %>
</div>
