<p id="notice"><%= notice %></p>

<div class="col-md-4" style="text-align: center">
  <aside>
    <h2><%= @oferta_de_emprego.titulo %></h2>
    <span class="content">
        <%= image_tag @oferta_de_emprego.foto.url if @oferta_de_emprego.foto? %>
    </span>
    <br>
    <% if @oferta_de_emprego.entidade_id == current_user.meta_id && current_user.meta_type == "Entidade" %>
      <%= link_to "Editar", edit_oferta_de_emprego_path(@oferta_de_emprego), class: "btn btn-default" %>
    <% end %>
  </aside>
</div>

<div class="col-md-8">
  <p>
    <%= @oferta_de_emprego.descricao %><br><br>
    <%= @oferta_de_emprego.validade_inicio %> a <%= @oferta_de_emprego.validade_fim %>
  </p>

  <p>
    <strong>Empresa</strong><br>
    <%= link_to @current_user.nome, entidade_path(current_user.meta) %>
  </p>

  <p>
    <strong>Actividade Profissional</strong><br>
    <%= @oferta_de_emprego.actividade_profissional %>
  </p>

  <p>
    <strong>Tipo de Contrato</strong><br>
    <%= @oferta_de_emprego.tipo_contrato %>
  </p>

  <p>
    <strong>Salário</strong><br>
    <%= @oferta_de_emprego.salario %>
  </p>

</div>
