<h2>Candidatos interessados</h2>

<div class="interessados">
  <% @current_user.interessados.each do |u| %>
    <table>
      <tbody>
        <tr>
          <td style="vertical-align: top;">
            <div>
                <%= image_tag u.foto.url if u.foto? %>
            </div>
          </td>
          <td>
            <div class="crop">
              <div><strong><%= link_to u.nome, candidato_path(u.meta_id) %></strong></div>
              <div><%= u.meta.area_profissional %></div>
              <div><%= u.meta.experiencia_profissional %></div>
              <div><%= u.meta.habilitacoes_literarias %></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
