<tr>
  <td style="vertical-align: top;">
    <div>
      <%= image_tag entidade.utilizador.foto.url if entidade.utilizador.foto? %>
    </div>
    <div>
      <% if current_user.meta_type == "Candidato" %>
        <% @utilizador_showing = entidade.utilizador %>
        <%= render 'utilizadores/interesse_form' %>
      <% end %>
    </div>
  </td>
  <td>
    <div class="crop">
      <div><strong><%= link_to entidade.utilizador.nome, entidade_path(entidade.utilizador.meta_id) %></strong></div>
      <div><%= entidade.actividade_profissional %></div>
      <div><%= entidade.utilizador.apresentacao %></div>
    </div>
  </td>
</tr>
