<%= form_for(entidade) do |f| %>
  <% if entidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entidade.errors.count, "error") %> prohibited this entidade from being saved:</h2>

      <ul>
      <% entidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :utilizador do |p| %>
    <%= render 'utilizadores/form_fields', f:  p  %>
  <% end %>

  <div class="field">
    <%= f.label :nif %>
    <%= f.text_field :nif %>
  </div>

  <div class="field">
    <%= f.label :actividade_profissional %>
    <%= f.text_field :actividade_profissional %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
