<div>
  <div class="col-md-6">
    <%= render 'entidades/ofertas' %>
  </div>
  <div class="col-md-6">
    <%= render 'utilizadores/editar_perfil' %>
  </div>
</div>

<div>
  <!-- <div class="col-md-6">
    <%= render 'entidades/historico' %>
  </div> -->
  <div class="col-md-6">
    <%= render 'entidades/candidatos_interessados' %>
  </div>
</div>
