<h2>Ofertas</h2>

<div class="interessados">
  <% @current_user.meta.oferta_de_empregos.each do |o| %>
    <table>
      <tbody>
        <tr>
          <td style="vertical-align: top;">
            <div>
                <%= image_tag o.foto.url if o.foto? %>
            </div>
          </td>
          <td>
            <div class="crop">
              <div><strong><%= link_to o.titulo, oferta_de_emprego_path(o.id) %></strong></div>
              <div><%= o.validade_inicio %> a <%= o.validade_fim %></div>
              <div><%= o.empresa %></div>
              <div><%= o.descricao %></div>
            </div>
            <%= link_to "Editar", edit_oferta_de_emprego_path(o.id), class: "btn btn-default btn-xs" %>
            <%= link_to "Cancelar", oferta_de_emprego_path(o), class: "btn btn-default btn-xs",
                        data: {:confirm => "Tem a certeza?"}, :method => :delete %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<%= link_to "Inserir Oferta", new_oferta_de_emprego_path, class: "btn btn-default" %>
