<h2>Últimas Ofertas</h2>
<div class="interessados">
  <% @ultimas_ofertas.each do |o| %>
    <table>
      <tbody>
        <tr>
          <td style="vertical-align: top;">
            <div>
                <%= image_tag o.foto.url if o.foto? %>
            </div>
          </td>
          <td>
            <div class="crop">
              <div><strong><%= link_to o.titulo, oferta_de_emprego_path(o.id) %></strong></div>
              <div><%= o.validade_inicio %> a <%= o.validade_fim %></div>
              <div><%= o.empresa %></div>
              <div><%= o.descricao %></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <div style="margin-left: 1%"><strong><%= link_to "Ver todas as ofertas", oferta_de_empregos_path %></strong></div>
</div>
