<h2>Últimas Empresas</h2>
<div class="interessados">
  <% @ultimas_empresas.each do |e| %>
    <table>
      <tbody>
        <tr>
          <td style="vertical-align: top;">
            <div>
                <%= image_tag e.utilizador.foto.url if e.utilizador.foto? %>
            </div>
          </td>
          <td>
            <div class="crop">
              <div><strong><%= link_to e.utilizador.nome, entidade_path(e.id) %></strong></div>
              <div><%= e.utilizador.apresentacao %></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <div style="margin-left: 1%"><strong><%= link_to "Ver todas as empresas", entidades_path %></strong></div>
</div>
