<p id="notice"><%= notice %></p>

<h1>Entidades</h1>

<div class="interessados">
  <table>
    <tbody>
      <%= render @entidades %>
      <%= will_paginate @entidades %>
    </tbody>
  </table>
  <%= will_paginate @entidades %>
</div>
