<p id="notice"><%= notice %></p>

<% @utilizador_showing = @entidade.utilizador %>

<div class="col-md-4" style="text-align: center">
  <aside>
    <h2><%= @utilizador_showing.nome %></h2>
    <span class="content">
        <%= image_tag @utilizador_showing.foto.url if @utilizador_showing.foto? %>
    </span>
    <br>
    <% if current_user.meta_type == "Candidato" %>
      <%= render 'utilizadores/interesse_form' %>
    <% end %>
    <% if authorized_to_view_elements?("Entidade") %>
      <%= link_to "Editar", edit_entidade_path(@entidade), class: "btn btn-default" %>
    <% end %>
  </aside>
</div>


<div class="col-md-8">
  <p>
    <%= @utilizador_showing.apresentacao %><br><br>
    <strong>Actividade Profissional</strong><br>
    <%= @entidade.actividade_profissional %>
  </p>

  <p>
    <strong>Morada</strong><br>
    <%= @utilizador_showing.morada %><br>
    <%= @utilizador_showing.codigo_postal %> <%= @utilizador_showing.localidade %>
  </p>

  <p>
    <strong>Contactos</strong>
    <%= @utilizador_showing.contactos %><br>
    <%= @utilizador_showing.email %>
  </p>

  <p>
    <strong><%= link_to @utilizador_showing.pagina, "http://#{@utilizador_showing.pagina}" %></strong>
  </p>
