@import "bootstrap-sprockets";
@import "bootstrap";

.registo{
  width: 100%;
  text-align: center;
  div{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1%;
  }
  a{
    width: 80%;
    margin: 0 auto;
  }
}

.interessados{
  box-sizing: border-box;
  // padding: 5px 6px 7px 7px;
  //width: 400px;
  //height:110px;
  width: 80%;
  img{
    padding-top: 5%;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: auto;
    top: 0px;
  }
}

.crop{
  // background-color: red;
  box-sizing: border-box;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.content {
  display: block;
  img {
    width: 50%;
    height: 50%;
    .center{
      display: block;
      margin: 0 auto;
    }
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  // @include box_sizing;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  font-weight: normal;
  color: #777;
}

h3 {
  margin-left: 33px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
