<tr>
  <td style="vertical-align: top;">
    <div style = "margin-bottom: 2%">
      <%= image_tag candidato.utilizador.foto.url if candidato.utilizador.foto? %>
    </div>
    <% if current_user.meta_type == "Entidade" %>
      <% @utilizador_showing = candidato.utilizador %>
      <%= render 'utilizadores/interesse_form' %>
    <% end %>
  </td>
  <td>
    <div class="crop">
      <div><strong><%= link_to candidato.utilizador.nome, candidato_path(candidato.utilizador.meta_id) %></strong></div>
      <div><%= candidato.area_profissional %></div>
      <div><%= candidato.experiencia_profissional %></div>
      <div><%= candidato.habilitacoes_literarias %></div>
    </div>
  </td>
</tr>
