<%= form_for(candidato) do |f| %>
  <% if candidato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidato.errors.count, "error") %> prohibited this candidato from being saved:</h2>

      <ul>
      <% candidato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :utilizador do |p| %>
    <%= render 'utilizadores/form_fields', f: p  %>
  <% end %>


  <div class="field">
    <%= f.label :bilhete_identidade %>
    <%= f.text_field :bilhete_identidade %>
  </div>

  <div class="field">
    <%= f.label :curriculum_vitae %>
    <%= f.text_area :curriculum_vitae %>
  </div>

  <div class="field">
    <%= f.label :area_profissional %>
    <%= f.text_field :area_profissional %>
  </div>

  <div class="field">
    <%= f.label :nivel_habilitacoes %>
    <%= f.text_field :nivel_habilitacoes %>
  </div>

  <div class="field">
    <%= f.label :habilitacoes_literarias %>
    <%= f.text_area :habilitacoes_literarias %>
  </div>

  <div class="field">
    <%= f.label :situacao_profissional %>
    <%= f.text_field :situacao_profissional %>
  </div>

  <div class="field">
    <%= f.label :experiencia_profissional %>
    <%= f.text_area :experiencia_profissional %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
