<div>
  <div class="col-md-6">
    <%= render 'candidatos/candidaturas' %>
  </div>
  <div class="col-md-6">
    <%= render 'utilizadores/editar_perfil' %>
  </div>
</div>

<div>
  <div class="col-md-6">
    <%= render 'candidatos/empresas_interessadas' %>
  </div>
</div>
