<h2>Últimos Candidatos</h2>
<div class="interessados">
  <% @ultimos_candidatos.each do |c| %>
    <table>
      <tbody>
        <tr>
          <td style="vertical-align: top;">
            <div>
                <%= image_tag c.utilizador.foto.url if c.utilizador.foto? %>
            </div>
          </td>
          <td>
            <div class="crop">
              <div><strong><%= link_to c.utilizador.nome, candidato_path(c.id) %></strong></div>
              <div><%= c.utilizador.apresentacao %></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <div style="margin-left: 1%"><strong><%= link_to "Ver todos os candidatos", candidatos_path %></strong></div>
</div>
