<p id="notice"><%= notice %></p>

<h1>Candidatos</h1>

<div class="interessados">
  <table>
    <tbody>
      <%= render @candidatos %>
      <%= will_paginate @candidatos %>
    </tbody>
  </table>
  <%= will_paginate @candidatos %>
</div>
