<p id="notice"><%= notice %></p>

<% @utilizador_showing = @candidato.utilizador %>

<div class="col-md-4" style="text-align: center">
  <aside>
    <h2><%= @utilizador_showing.nome %></h2>
    <span class="content">
        <%= image_tag @utilizador_showing.foto.url if @utilizador_showing.foto? %>
    </span>
    <br>
    <%= link_to "Curriculum Vitae" %><br><br>
    <% if current_user.meta_type == "Entidade" %>
      <%= render 'utilizadores/interesse_form' %>
    <% end %>
    <% if authorized_to_view_elements?("Candidato") %>
      <%= link_to "Editar", edit_candidato_path(@candidato), class: "btn btn-default" %>
    <% end %>
  </aside>
</div>

<div class="col-md-8">
  <p>
    <%= @utilizador_showing.apresentacao %><br><br>
    <strong>Actividade Profissional</strong><br>
    <%= @candidato.area_profissional %>
  </p>

  <h3>Dados Profissionais</h3>

  <p>
    <strong>Situação Profissional</strong><br>
    <%= @candidato.situacao_profissional %>
  </p>


  <p>
    <strong>Nivel Habilitacoes</strong><br>
    <%= @candidato.nivel_habilitacoes %>
  </p>

  <p>
    <strong>Habilitacoes Literarias</strong><br>
    <%= @candidato.habilitacoes_literarias %>
  </p>

  <p>
    <strong>Experiencia Profissional</strong><br>
    <%= @candidato.experiencia_profissional %>
  </p>

  <h3>Dados Pessoais</h3>

  <p>
    <strong>Morada</strong>
    <%= @utilizador_showing.morada %><br>
    <%= @utilizador_showing.codigo_postal %> <%= @utilizador_showing.localidade %>
  </p>

  <p>
    <strong>Contactos</strong>
    <%= @utilizador_showing.contactos %><br>
    <%= @utilizador_showing.email %>
  </p>
</div>
