<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Bolsa de Emprego", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to current_user.nome, meu_perfil_path %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Registar-me", registo_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Entidades", entidades_path %></li>
        <li><%= link_to "Candidatos", candidatos_path %></li>
        <li><%= link_to "Ofertas", oferta_de_empregos_path %></li>
        <li><%= link_to "Notícias", '#' %></li>
        <li><%= link_to "Users", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
