<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :sobre_interesse_id, @utilizador_showing.id %></div>
  <%= f.submit "Interessado/a", class: "btn btn-primary" %>
<% end %>
