<h2><%= @cu.meta_type %></h2>
<% if @cu.meta_type == "Candidato" %>
  <%= link_to "Editar Dados", edit_candidato_path(@cu.meta), class: "btn btn-default" %>
<% else %>
  <% if @cu.meta_type == "Entidade" %>
    <%= link_to "Editar Dados", edit_entidade_path(@cu.meta), class: "btn btn-default" %>
  <% end %>
<% end %>
<%= link_to "Alterar Password", alterar_password_path, class: "btn btn-default" %>
