<%= form_for(utilizador) do |f| %>
  <% if utilizador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(utilizador.errors.count, "error") %> prohibited this utilizador from being saved:</h2>

      <ul>
      <% utilizador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form_fields' %>

  <div class="field">
    <%= f.label :user_profile_id %>
    <%= f.number_field :user_profile_id %>
  </div>

  <div class="field">
    <%= f.label :user_profile_type %>
    <%= f.text_field :user_profile_type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
