<div class="field">
  <%= f.label :nome %>
  <%= f.text_field :nome %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<% if params[:action] == "new" || params[:action] == "create" %>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
<% end %>

<div class="picture">
  <%= f.file_field :foto, accept: 'image/jpeg,image/gif,image/png' %>
</div>

<div class="field">
  <%= f.label :morada %>
  <%= f.text_area :morada %>
</div>

<div class="field">
  <%= f.label :codigo_postal %>
  <%= f.text_field :codigo_postal %>
</div>

<div class="field">
  <%= f.label :contactos %>
  <%= f.text_field :contactos %>
</div>

<div class="field">
  <%= f.label :apresentacao %>
  <%= f.text_area :apresentacao %>
</div>

<div class="field">
  <%= f.label :localidade %>
  <%= f.text_field :localidade %>
</div>

<div class="field">
  <%= f.label :pagina %>
  <%= f.text_field :pagina %>
</div>
