<div id="interesse_form">
  <% if current_user.interessado_em?(@utilizador_showing) %>
    <%= render 'utilizadores/remover_interesse' %>
  <% else %>
    <%= render 'utilizadores/criar_interesse' %>
  <% end %>
</div>
