<%= form_for(current_user.active_relationships.find_by(sobre_interesse_id: @utilizador_showing.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <%= f.submit "Anular Interesse", class: "btn" %>
<% end %>
