<p>
  <strong>Nome:</strong>
  <%= user.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= user.password_digest %>
</p>

<span class="content">
    <%= image_tag user.foto.url if user.foto? %>
</span>

<p>
  <strong>Morada:</strong>
  <%= user.morada %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= user.codigo_postal %>
</p>

<p>
  <strong>Contactos:</strong>
  <%= user.contactos %>
</p>

<p>
  <strong>Apresentacao:</strong>
  <%= user.apresentacao %>
</p>

<p>
  <strong>Localidade:</strong>
  <%= user.localidade %>
</p>

<p>
  <strong>Pagina:</strong>
  <%= user.pagina %>
</p>

<p>
  <strong>User profile:</strong>
  <%= user.meta_id %>
</p>

<p>
  <strong>User profile type:</strong>
  <%= user.meta_type %>
</p>
