<%= form_for(@utilizador) do |f| %>
  <% if @utilizador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(utilizador.errors.count, "error") %> prohibited this utilizador from being saved:</h2>
      <ul>
      <% utilizador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Alterar Password</h2>
  <strong>Nome</strong>
  <h4><%= @utilizador.nome %></h4>

  <div class="field">
    <%= f.label "Password Actual" %>
    <%= f.password_field :password_actual %>
  </div>

  <div class="field">
    <%= f.label "Nova Password" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label "Confirmação da Password" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Alterar Password" %>
  </div>

<% end %>
