<p id="notice"><%= notice %></p>

<h1>Utilizadores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Password digest</th>
      <th>Foto</th>
      <th>Morada</th>
      <th>Codigo postal</th>
      <th>Contactos</th>
      <th>Apresentacao</th>
      <th>Localidade</th>
      <th>Pagina</th>
      <th>User profile</th>
      <th>User profile type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilizadores.each do |utilizador| %>
      <tr>
        <td><%= utilizador.nome %></td>
        <td><%= utilizador.email %></td>
        <td><%= utilizador.password_digest %></td>
        <td><%= utilizador.foto %></td>
        <td><%= utilizador.morada %></td>
        <td><%= utilizador.codigo_postal %></td>
        <td><%= utilizador.contactos %></td>
        <td><%= utilizador.apresentacao %></td>
        <td><%= utilizador.localidade %></td>
        <td><%= utilizador.pagina %></td>
        <td><%= utilizador.user_profile_id %></td>
        <td><%= utilizador.user_profile_type %></td>
        <td><%= link_to 'Show', utilizador %></td>
        <td><%= link_to 'Edit', edit_utilizador_path(utilizador) %></td>
        <td><%= link_to 'Destroy', utilizador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utilizador', new_utilizador_path %>
