<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @utilizador.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @utilizador.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @utilizador.password_digest %>
</p>

<span class="content">
    <%= image_tag @utilizador.foto.url if @candidato.utilizador.foto? %>
</span>

<p>
  <strong>Morada:</strong>
  <%= @utilizador.morada %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @utilizador.codigo_postal %>
</p>

<p>
  <strong>Contactos:</strong>
  <%= @utilizador.contactos %>
</p>

<p>
  <strong>Apresentacao:</strong>
  <%= @utilizador.apresentacao %>
</p>

<p>
  <strong>Localidade:</strong>
  <%= @utilizador.localidade %>
</p>

<p>
  <strong>Pagina:</strong>
  <%= @utilizador.pagina %>
</p>

<p>
  <strong>User profile:</strong>
  <%= @utilizador.user_profile_id %>
</p>

<p>
  <strong>User profile type:</strong>
  <%= @utilizador.user_profile_type %>
</p>

<%= link_to 'Edit', edit_utilizador_path(@utilizador) %> |
<%= link_to 'Back', utilizadores_path %>
